<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.readshare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Inscription" />
        <activity android:name=".RechercheLivre.RechercheLivre2" />
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".Acceuil" />
        <activity android:name=".AjouterLivre"
            > <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter></activity>

        <activity android:name=".Authentification" />
        <activity android:name=".Biblio" />
        <activity android:name=".BiblioEchange" />
        <activity android:name=".DemandeEnvoye.DemandeEnvoye">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DemandeRecu.DemandeRecu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DemandeLivre.DemanderLivre">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DescriptionLivre" />
        <activity android:name=".Historique" />
        <activity android:name=".ModifierLivre" />
        <activity android:name=".ModifierProfile" />
        <activity android:name=".Profile" />
        <activity android:name=".RechercheLivre.RechercheLivre" />
        <activity android:name=".TracabiliteLivre" />
        <activity
            android:name=".RechercheLivre.MyMenu"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>